@page "/"

<PageTitle>Главная</PageTitle>

<h1>Калькулятор квадратных уравнений</h1>


<p>Введите уравнение в виде: ax&sup2; + bx + c = 0, где a, b, c - числа</p>
<p>Например: </p>
<ul>
    <li>x&sup2; + 2x + 1 = 0</li>
    <li>3x&sup2; + 8x + 1 = 0</li>
    <li>x&sup2; - 3x - 1 = 0</li>
</ul>

<QuadraticEquationInput></QuadraticEquationInput>